{% extends 'base.html.j2' %}

{% block title %}
  Homepage
{% endblock %}

{% block content %}
  <h1>Search!</h1>
  <form action="{{url_for('search')}}" method="POST">
    {{form.hidden_tag()}}
    <div class="mb-3">
      {{form.name.label(class="form-label")}}
      {{form.name(class="form-control")}}
      {% for error in form.name.errors%}
        <small style="color:red">{{error}}</small>
      {% endfor %}
    </div>
    <div>
      {{form.submit(class="btn btn-primary")}}<br>
      <small style="color:red">{{error}}</small>
    </div>
  </form>
{% endblock %}
